/* CSS Document */

.projectcontent{
    padding:50px;
    
}

img{
    width:100%;
}

.center_this2{
    text-align:center;
}
.center_this{
    text-align:justify;
}
.container{
   /* border: solid 1px silver;*/
   width:100%;
}
.container_inner{
    width:100%;
}

.gallery{
    display: block;
    margin: auto;
    
   width:250px;
   height:250px;
   border-radius:360px;
   border: solid 1px silver;
}


h1.opening{
    text-align:center;
    
}
h1.opening{
    color:#F5F5F5;
}
h2{
    text-align: left;
    
}
img.homeimg{
    width:300px;
    height:180px;
}
.projects {
    width:300px;
    height:300px;
    margin-left:20px;
    border: solid 1px silver;
    border-radius:360px;
}
img.ind_project{
    width: 220px;
    height:140px;
}

.proj_header{
    margin-top:0px;
    width:101%;
}

.image_header{
    text-align:center;
}
.divider{
    border-top: solid 1px silver;
    width:100%;
}

.special{
    text-align:center;
    font-weight:200;
    font-family:Helvetica;
    letter-spacing:10px;
    
    
    
    
}
.statement{
    
}
h1{
    color: #191919;
    text-align:left;
    font-family:Helvetica;
}
h4{
    font-weight:300;
}
h5{
    color: grey;
    font-weight:200;
    font-family:"Helvetica";
    width:600px;
    line-height: 18px;
    
    
    
}
.statement{
    text-align:center;
}
.Headline h1{
    font-weight: 300;
    
}

#Headline h1{
    margin-top: 10px;
}

.headline_main
{
 background-color:#0276CA;   
}

#special_h1 h1{
    color: #191919;
    text-align:right;
    
}
#special_h5 h1{
    color: #191919;
    text-align:left;
}

#special_h5 h5{
    color: grey;
    font-weight:200;
    font-family:Tahoma;
    width:400px;
    margin-left: 1px;
    line-height: 18px;
    
}

#contact_info{
    text-align:center;
}

/*
.opening{
font-family: 'Source Sans Pro',sans-serif;
font-size: 2em;
line-height: 1.2em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
font-weight: 600;
font-style: normal;
}
*/

/*
#nav
 {
 background-color:#0276CA;
 
 height:50px;
 box-shadow: 0px 1px 50px #5E5E5E;
 position:relative;
 top:0px;
 border-radius: 3px;
 */

#nav
 {
 background-color:#F5F5F5;
 height:50px;

 width:100%;
 box-shadow: 0px 1px 5px #5E5E5E;
 top:0px;
 position: fixed;
 z-index: 10;
 }
#nav a{
 font-family:Helvetica;
 text-decoration:none;
 
 
 /*color:#EDEDED;*/
 color:#000000; 
}

#nav a:hover {
 color:#BDBDBD;
} 

#navigation {
 list-style-type:none;
 position:absolute;
 right: 20px;
 margin-top: 20px;
 height:150px;
	 
}

#navigation li {
 display:inline;
 margin-top: -10px;
 padding:10px;
 left:340px;
 font-size: 16px;
 font-weight:200;
 font-family:"Helvetica"
}

#active a{
    color: grey;
}

.home_img
{
    width:220px;
}

.project_img{
    width:300px;
    height:190px;
}

.title
 {
 color:#191919;
 font-family:Helvetica;
 font-size:25px;
 width:350px;
 margin-top:13px;
 /*margin-left:150px;*/
 margin-left:15px;
 font-weight:bold;
 float:left;
 font-weight:200;
}
.subtitle 
{
 color:#191919;
 font-family:Helvetica;
 font-size:15px;
}

.image_link{
    position:fixed;
    width:460px;
}
.project_header{
    
    
    position:relative;
    margin-top:40px;
}

#footer
{
    border-top: solid 1px silver;
    margin-top:20px;
    margin-left:0px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: "Helvetica";
    font-weight: lighter;
    /*
     *background-color:#EDEDED;
    */
    color:#202020;
}
#footer p{
    margin-top:45px;
    
}



