<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>notePULL</title>
    <meta name="COGS120" content="Sign Up">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/note.css">
    <!-- Bootstrap Form Helpers -->
    <link href="/css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">
    <!-- Add Responsiveness
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">-->
    <!-- Social Media Buttons -->
    <link href="/css/social-buttons-3.css" rel="stylesheet">
    <!-- Extra Icons -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

    <body>
        <div class="container">
            <!-- COPY AND PASTE THIS FOR THE SIDE BAR CODE -->
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <ul class="nav nav-sidebar">
                        <li><span style="color: white;font-family:Helvetica; font-size: 150%;">note </span><span style="font-size:350%; font-family: Ostrich Sans; color:#39B54A;">PULL</span></li>
                        <li class="active"><a href="#"><i class="fa fa-plus fa-3x"></i><br/>NEW</a></li>
                        <li><a href="/home"><i class="fa fa-folder fa-3x"></i><br/>FOLDERS</a></li>
                        <li><a href="/settings.html"><i class="fa fa-cog fa-3x"></i><br/>SETTINGS</a></li>
                        <li><a href="/help.html"><i class="glyphicon glyphicon-question-sign iconav"></i><br/>HELP</a></li>
                        <li><a href="/index.html"><i class="glyphicon glyphicon-log-out iconav"></i><br/>LOGOUT</a></li>
                    </ul>
                </div>
                <!-- this is the other column in the code -->
                <div class="col-xs-12 col-sm-9 main" id="column2">
                    <p class="pull-left visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Menu</button>
                    </p>
                    <form id="folderForm" action="/add" method="POST">
                        <div class="form-group">
                          <label for="folder_name">Name:</label>
                          <input id="folder_name" name="folder_name" placeholder="Folder Name" type="text" size="35" class="form-control" autofocus/>
                        </div>
                        <input type="submit" id="submitBtn" class="btn btn-default submitButton" value="Add folder"></input>
                    </form>
                    
                </div>
            </div>
        
            <!-- END COPY PASTE HERE FOR SIDE BAR CODE -->
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/note.js"></script>
        <script>
        $(document).ready(function() {
            $('#folder_name').keypress(function(e) {
                if (e.which == 13) {
                    document.folderForm.submit();
                }
            });
        });
        </script>
    </body>
</html>