#date-div {
	float: right;
}

#notepage {
	text-align: left;
}

textarea {
	padding: 0;
	width: 100%;
}

#toolbar {
	height:4em;
	background-color: #474747;
	padding-top: 13px;
	margin: 0;
}

#column2 {
	height: 100%;
}

#title {
	line-height: 2em;
}

#prev-icon {
	float: left;
}

#next-icon {
	float: right;
}

#done-icon {
	float: right;
	color: #39b54a;
}

/* for desktop */
.toolbar-links:hover { color: #fff; }
.toolbar-links:active { color: #fff; }
.toolbar-links:visited { color: #fff; }

span.glyphicon {
	font-size: 20px;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

#notelist input {
	width: 100%;
}


/***************************************/
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}/*
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}*/
.row, .container, #sidebar {
	height: 100%;
	min-height: 100%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */

    /* own */
    background-color: #474747;
  }
}
