@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0f0f0f;
	background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.uh{
    overflow: hidden;
}
.hidden { 
    display: none; 
}
.unhidden {
    display: block;
}
*:focus {
    outline: 0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px silver solid;
}
.form-signin input[type="email"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="name"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginButton {
    background-color: transparent;
}
.settings {
    text-align: left;
}
/*
 * Globals
 */

/* Links */

/*
 * Base structure
 */

html,
body {
  height: 100%;
	min-height: 100%;
	color:white;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
.landing > .nav > li > a:focus,
.landing > .nav > li > a:hover {
  background-color: transparent;
    border-bottom: 2px solid white;
}
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	height: 100%;
	min-height: 100%;
}
.nav {
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Sidebar navigation */
html, body, .container-fluid {
    height: 100%;
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.row {
		height: 100%;
}
.main {
		height: 100%;
		margin-top: 30px;
		/*display: inline-block;*/
}
.folder {
		padding: 2%;
		margin: 2%;
		float: left;
}
.listrow {
    display: inline-block;
    height: 83px;
}
.menurow {
    margin-top: 3%;
}
.center {
    float: left;
    margin-left: 3%;
    width: 60%;
    font-family: Roboto;
    font-size: 40px;
    color: white;
    text-align: left;
}
.right {
    width: 20%;
    padding-top: 10px;
    float: right;
    color: white;
}
------------
Visit twitterbootstrap.org for more tut 
-------------
*/

@import url('css/bootstrap.min.css');
@import url('css/bootstrap-responsive.min.css');
/* New styles */
label {
		color:white;
}
label.valid {
	width: 24px;
	height: 24px;
	background: url("img/valid.png") center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.iconav {
  font-size: 35px;
}

.landing > .nav > li > a:focus,
.landing > .nav > li > a:hover {
  background-color: transparent;
}

.newfolder {
    font-family: Roboto;
    font-weight: 100;
    font-size: 25px;
    text-align: left;
    color: #fff;
    width: 100%;
}
.newfolder1 {
    text-align: left;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid silver;
}

.folder{
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 0;
}

.folder-content {
  padding: 2%;
  height: 90px;
}

.foldertitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    color: white;
}

.folder-date {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.1px;
    color: silver;
}

.highlights {
  height: 10px;
  background-color: #ff0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.highlights div {
  width:25%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding:0;
}

.bar-yellow {
  background-color: DarkOrange;
}

.bar-red {
  background-color: Crimson;
}

.bar-blue {
  background-color: Teal;
}

.bar-green {
  background-color: LimeGreen;
}