textarea {
	padding: 0;
	width: 100%;
}

#column2 {
	height: 100%;
}

#title {
  margin-bottom: 2px;
  font-size: large;
  /*border: none;
  border-bottom: 1px solid #474747;*/
  border: 2px solid #474747;
  padding: 5px 10px;
  width: 93%;
}

#prev-icon {
	float: left;
}

#next-icon {
	float: right;
}

#done-icon {
	float: right;
	color: #39b54a;
}
/* For help popover */
.popover-example .popover {
  position: relative;
  display: block;
  margin: 15px;
}

/* for desktop */
.toolbar-links:hover { color: #fff; }
.toolbar-links:active { color: #fff; }
.toolbar-links:visited { color: #fff; }

span.glyphicon {
	font-size: 20px;
	color: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

/***************************************/
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}/*
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}*/
.row, .container, #sidebar {
	height: 100%;
	min-height: 100%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */

    /* own */
    background-color: #474747;
  }
}

#sidebar {
  background-color: #474747;
}
/*
.tag-none {
  background-color: transparent;
}

.tag-exam {
  background-color: #eee;
}
*/
/* sticky footer */

#column2 {
  height: 100%;
  position: relative;
  margin-top: 0;
}

#notepage {
  height: 100%;
	margin-top:60px;
  text-align: left;
}

#notepageRead {
  height: 100px;
  text-align: left;
}

#toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #474747;
  padding-top: 13px;
  margin-left: -15px;
	/*padding-bottom: 40px;*/
	text-align: center;
  /*opacity: 0.5;*/
}
/*
@media all and (max-height: 500px) {
	#toolbar {
		position: fixed;
		top: 0px;
	}
}*/

div.edit-note {
  /*border: 1px solid #ddd;
  border-top: none;*/
  border: 0;
  width: 93%;
  display: inline-block;
  white-space: pre-wrap;
  padding: 7px;
  margin-top: 2px;
  font-size: medium;
} /* warning: assigned to add button too*/

#date-edit {
  text-transform: uppercase;
  padding-left: 7px;
  font-size: smaller;
  letter-spacing: 1.2px;
}
/*
#notelist li:first-child div {
  border-top: 1px solid #ddd;
}*/



div[data-tag="0"] {
  background-color: #f1f1f1;
}

div[data-tag="1"] {
  background-color: DarkOrange;
}

div[data-tag="2"] {
  background-color: Crimson;
}

div[data-tag="3"] {
  background-color: Teal;
}

div[data-tag="4"] {
  background-color: LimeGreen;
}

.note {
  vertical-align: text-top;
}

#column2 li {
  text-align: left;
  width: 100%;
}

.foo {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

#page, #folderForm {
  margin-top: 70px;
}

#results {
  margin-top: 15px;
}

.result-odd {
  color: #474747;
}

.result-even {
  color: #39B54A;
}

#searchResults a {
  color: inherit;
}

.ontop {
  z-index: 1500;
}

#notelist {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 2px;
}

.deleteNote {
  padding:0;
}

.highlight-toggle {
  width: 100%;
  margin: auto;
}

.highlight-toggle.btn-primary.active{
  background-color: #474747;
  border-color: #393939;
}

#myModal1.highlight-toggle.btn-primary{
  background-color: #e9e9e9;
  border-color: #d7d7d7;
}

#toolbar .popover {
  border-radius: 0;
}

#toolbar .popover-content {
  padding: 0;
}

.folder{
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 0;
    list-style: none;
    margin-left: -40px;
    
}

.folder-content {
  padding: 2%;
    margin-bottom: 4%;
  height: 90px;
}

.foldertitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.folder-date {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.1px;
    color: silver;
}

.highlights {
  height: 10px;
  background-color: #ff0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.highlights div {
  width:25%;
  height: 100%;
  display: block;
  float: left;
  margin: 0;
  padding:0;
}

.btn-default {
 background-color: transparent;
    color: white;
    margin-bottom: 3px;
}
.x {
 text-align: right;
    width: 4%;
    border: 2px solid red;
}
